@model QuanLiKyTucXa.Models.HoaDonPhong
<table class="table table-borderless">
<tr>
    <th>Mã hoá đơn</th>
    <th>Quý</th>
    <th>Số tiền</th>
    <th>Trạng thái</th>
</tr>
<tr>
    <td>@Model.MaHoaDon</td>
    <td>@Model.Quy</td>
    <td>@Model.SoTien</td>
    <td>@Model.TrangThai</td>
</tr>
</table>
